* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f8f7f4;
    color: #111111;
    
}
.header{
    min-height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 6%;

    background-color: #ffffff;
    border-bottom: 1px solid #e4e4e4;

    position:  sticky;
    top: 0;
    z-index: 100;
}

.logo{
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 4px;
    color: #111111;
    text-decoration: none;
}

.nav-links{
    display: flex;
    gap: 40px;
    list-style: none;
}

.nav-links a {
  color: #111111;

  text-decoration: none;

  font-size: 13px;

  letter-spacing: 1px;

  text-transform: uppercase;

  position: relative;
}

.inicio-principal{
    min-height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 60px 20px;
    background-color: #111c2e;
    color: #ffffff;
}

.inicio-contenido{
    max-width: 850px;
}

.subtitulo{
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 4px;
    margin-bottom: 25px;
    text-transform: uppercase;
}

.inicio-principal h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 70px;
    font-weight: 400;
    line-height: 1.1;
    margin-bottom: 30px;
}

.descripcion{
    max-width: 600px;
    margin: 0 auto 40px;
    font-size: 16px;
    line-height: 1.8;
    color: #e2e4e8;
}

.boton{
    display: inline-block;
    padding: 16px 32px;
    background-color: #ffffff;
    color: #111111;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: 1px solid #ffffff;
    transition: all 0.3s ease;

}

.boton:hover{
    background-color: transparent;
    color: #ffffff;
}

.catalogo{
    padding: 120px 6%;
    text-align: center;
    background-color: #f8f7f4;
}

.catalogo .subtitulo{
    color: #707070;
}

.catalogo h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 70px;
    color: #000000;
}

.productos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.producto{
    text-align: left;
}

.producto-imagen{
    width: 100%;
    height: 430px;
    background-color: #e8e1d5;
    margin-bottom: 20px;
    transition: transform 0.4s ease;
}

.producto:hover .producto-imagen{
    transform: scale(1.02);
}

.producto h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 21px;
    font-weight: 400;
    margin-bottom: 8px;
    color: #000000;
}

.contacto{
    padding: 100px 20px;
    text-align: center;
    background-color: #07111f;
    color: #ffffff;
}

.contacto-contenido{
    max-width: 900px;
    margin: 0 auto;
}

.contacto h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 50px;
}


.datos-contacto{
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.datos-contacto p{
    font-size: 14px;
    color: #d4d8de;
}

.formulario-contenedor{
    padding: 45px;
    text-align: left;
    background-color: #ffffff;
    color: #111111;
}
.formulario-contenedor h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 35px;
}

.campo{
    margin-bottom: 20px;
}

.campo label{
    display: block;
    margin-bottom: 8px;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0.5px;
}

.campo input, .campo textarea{
    width: 100%;
    padding: 14px;
    box-sizing: border-box;
    border: 1px solid #d5d5d5;
    background-color: #ffffff;
    color: #111111;
    font-family: Arial, Helvetica, sans-serif;
    font-size:  14px;
    outline: none;
    transition: border-color 0.3 ease;
}

.campo textarea{
    resize:horizontal;
    min-height: 100px;
}

.boton-enviar{
    padding: 14px 30px;
    background-color: #111c2e;
    color: #ffffff;
    border: 1px solid #111c2e;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
}

.boton-enviar:hover{
    background-color: #ffffff;
    color: #111c2e;
}
footer{
    padding: 35px;
    text-align: center;
    background-color: #050b12;
    color: #a3a6ae;
    font-size: 11px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

@media(max-width: 600px){
    .header{
        padding: 20px;
    }

    .logo{
        font-size: 17px;
    }

    .nav-links{
        width: 100%;
        justify-content: center;
        gap: 15px;
        flex-wrap: wrap;
    }
    
    .nav-links a{
        font-size: 11px;
    }

    .inicio-principal{
        min-height: 550px;
        padding: 50px 20px;
    }

    .subtitulo{
        font-size: 10px;
        letter-spacing: 1.1;
    }

    .inicio-principal h1{
        font-size: 38px;
        line-height: 1.1;
    }

    .descripcion{
        font-size: 14px;
        line-height: 1.6;
    }

    .boton{
        padding: 14px 24px;
        font-size: 11px;
    }

    .catalogo{
        padding: 80px 20px;
    }

    .catalogo h2{
        font-size: 36px;
        margin-bottom: 45px;
    }

    .productos{
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .producto-imagen{
        height: 400px;
    }

    .contacto{
        padding: 70px 20px;
    }

    .contacto h2{
        font-size: 34px;
        margin-bottom: 35px;
    }
    .datos-contacto{
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .footer{
        padding: 30px 20px;
        line-height: 1.6;
    }
}